* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.tools {
  width: 100%;
  padding: 1rem;
  height: fit-content;
  position: absolute;
  top: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  z-index: 999;
}

.pen-range {
  accent-color: rgb(41, 41, 41);
}

.color-field {
  height: 21px;
  width: 21px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.486);
  cursor: pointer;
}

.color-picker {
  border: none;
  height: 30px;
}

.undo-btn,
.clear-btn {
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 4px;
  background-color: #0c0c0c;
  color: azure;
  cursor: pointer;
}

.red {
  background-color: #cf2727;
}
.blue {
  background-color: #2772e2;
}
.green {
  background-color: #acf13d;
}
.yellow {
  background-color: #ebee2a;
}
