* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 1px solid red; */
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  background-color: #f1f1f1;
  color: #111;
  border-radius: 24px;
  justify-content: space-between;
}
.state-name {
  font-size: 1.25rem;
  margin-top: 1rem;
  padding: 1rem;
  font-weight: bold;
}
.temp {
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
}
.row {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
}
.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
img {
  height: 90px;
  width: 90px;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
}
