* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c4848;
}
.container {
  width: 350px;
  height: 450px;
  outline: 1px solid black;
  background-color: #fafafa;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  margin-bottom: 1.25rem;
}
input {
  padding: 0.75rem;
}
button {
  margin-top: 10px;
  padding: 0.75rem;
  background-color: #191919;
  color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
}

.requirements {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  /* padding-left: 0.75rem; */
  gap: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.valid {
  text-decoration: line-through;
}
.invalid {
  text-decoration: dashed;
}
