*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
/* body {
    background-color: #1900a6;
} */
.container{
    height: 100dvh;
    background-color: #1900a6;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

p {
    margin-top: 100px;
    font-size: 2.5rem;
    color: #ffef0e;
    font-weight: 800;
}

/* .wrap {
    width: 80%;
    height: 100%;
    background-color: #202020;
    padding: 1rem;
    border-radius: 25px 25px 0 0;
} */

#text-box {
    width: 80%;
    height: 100%;
    padding: 1rem;
    border-radius: 24px 24px 0 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 150%;
    outline: none;
    resize: none;
    background-color: #202020;
    color: #f1f1f1;
    
}

#text-box::placeholder {
    color: #DDDDDD;
    border: none;
}

.btn-wrap {
    display: flex;
    gap: 3rem;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #101010;
    background-color: #d9d9d9;
    border: none;
    padding: 0.75rem 2rem;
    text-align: center;
}