* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  background-color: #191919;
  height: 400px;
  width: 400px;
  border: none;
}

.box {
    border: none;
    font-family: cursive;
    font-size: 3rem;
    color: #2b2929;
    background-color: #f0f0f0;
    /* background: none; */
}